<% include partials/header.ejs %>


<h1>Found decisions</h1>

<div class="container">

  <% decisions.forEach(function(decision){ %>
  <div class="row">
      <div class="col-md-12">
          
        <h2 ><%= decision.theme %> </h2>

      <h3 class="text-muted"><%= decision.session %> (<%= decision.year %>) <%= decision.doc %> (paragraph: <%= decision.para %>)</h3>
       <p><%= decision.text %></p>
       <small class="text-muted"><strong>Target: </strong><%= decision.target %> </small> 
       </div>
  </div>
  <hr>
  <% }); %>
  
  
</div>
<% include partials/footer.ejs %>
