<% include partials/header.ejs %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <a href="/"> <h1 class="display-3 text-center">CFS Decisions</h1></a>
<form class="input-group mb-3 mt-5" action="/" method="GET">
  <input name="search" type="text" class="form-control" id="search" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
    
    
  </div>
</div>
<div class="container">

  <% decisions.forEach(function(decision){ %>
  <div class="row">
      <div class="col-md-12">
          
        <h2 ><%= decision.theme %> </h2>

      <h3 class="text-muted"><%= decision.session %> (<%= decision.year %>) <%= decision.doc %> (paragraph: <%= decision.para %>)</h3>
       <p><%= decision.text %></p>
       <small class="text-muted"><strong>Target: </strong><%= decision.target %> </small> 
       </div>
  </div>
  <hr>
  <% }); %>
  
  
</div>
            


<% include partials/footer.ejs %>
